{% extends 'auth.html' %}
{% block title %}
Signup
{% endblock title %}

{% block body_class %}signup-body{% endblock %}

{% block content %}

<style>
    body {
    background: linear-gradient(-45deg, #56ab2f, #a8e063, #56ab2f, #a8e063);
    background-size: 400% 400%; /* Adjust the background size */
    animation: gradientShift 10s ease infinite; /* Smooth gradient transition */
    height: 100vh;
    margin: 0;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

</style>
<div class="signup-container">
  <div class="signup-card">
    <h2 class="text-center mb-4">Create Account 📝</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/signup" method="post">
      <div class="form-group mb-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" required>
      </div>
      <div class="form-group mb-3">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
        <!-- <small class="form-text text-light">We'll never share your email.</small> -->
      </div>

      <div class="form-group mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
      </div>
      <button type="submit" class="btn btn-success w-100">Sign Up</button>
    </form>

    <div class="text-center xx">
      <p class="mb-1">Already have an account?</p>
      <a href="/login" class="btn btn-outline-light">Login</a>
    </div>
  </div>
</div>
{% endblock content %}
